@model RepositorioClases.TravelGuides

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center light-blue-text">Resumen</h1>
        <div class="row center">
        </div>
    </div>
</div>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center light-blue-text">Observaciones</h1>
        <div class="row center">
        </div>
    </div>
</div>



<a class="btn btn-primary #29b6f6 light-blue lighten-1" href="#modal1">Add City</a>

<div id="modal1" class="modal">
    <div id="modalcontent" class="modal-content">
        @Html.Action("Geocoder", "Cities", new { cityType = RepositorioClases.States.CityType.Origin, travelguideid = Model.TravelGuideId })
    </div>
</div>





<script>
    $(document).ready(function () {

        $('.modal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%', // Ending top style attribute
            ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                google.maps.event.trigger(map, 'resize');
            },
            complete: function () { } // Callback for Modal close
        }
        );
    });

</script>
