@model RepositorioClases.TravelGuides

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="parallax-container">
    <div class="parallax"><img src="@Model.Image"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Cities</h2>
        <p class="grey-text text-darken-3 lighten-3">Put the cities here</p>

        <a class="btn btn-primary #29b6f6 light-blue lighten-1" href="">Add City</a>
    </div>
</div>





<script>
    $(document).ready(function () {

        $('.modal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%', // Ending top style attribute
            ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                google.maps.event.trigger(map, 'resize');
            },
            complete: function () { } // Callback for Modal close
        }
        );
    });

</script>*@
<script>
    $(".button-collapse").sideNav();
    $(document).ready(function () {
        $('.parallax').parallax();
    });

</script>