@model RepositorioClases.TravelGuides

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="parallax-container">
    <div class="parallax"><img src="@Model.Image"></div>
</div>
<div class="section white">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="~/Content/Imagenes/Cities.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                    <h3>Cities</h3>
                    <span class="black-text">
                        What cities do you want to visit?
                    </span>
                </div>
            </div>
            <div class="card-action">
                <a href="#citiesModal">Go to Cities</a>
            </div>
        </div>
    </div>
</div>

<div id="citiesModal" class="modal">
    @Html.Action("CitiesList", "Cities", new {travelguideid = Model.TravelGuideId })
</div>




<script>
    $(document).ready(function () {

        $('.modal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%', // Ending top style attribute
            ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                //google.maps.event.trigger(map, 'resize');
            },
            complete: function () { } // Callback for Modal close
        }
        );
    });

</script>
<script>
    $(".button-collapse").sideNav();
    $(document).ready(function () {
        $('.parallax').parallax();
    });

</script>