@model ViewModels.ImagesCitiesModel

@using (Html.BeginForm("AddImageBD", "Cities", FormMethod.Post, new { enctype = "multipart/form-data", id = "imagesForm" }))
{
    <input type="hidden" value="@Html.AttributeEncode(Model.City.Id)" id="CityId" name="CityId" />



    <div class="container">
        @if (Model.Images.Count > 0)
        {
            <div class="carousel carousel-slider">
                @foreach (var item in Model.Images)
                {
                    <a class="carousel-item" href="#"><img class="responsive-img" src="@item.RutaImagen"></a>
                }

            </div>
        }
        else
        {
            <br />
            <h2>Add images</h2>
        }
        <hr />
    </div>



<div class="row">
    <div>
        <label for="file">Add Image: </label>
        <input type="file" name="file" id="file" />
        <input type ="submit" value="Upload" class="btn btn-primary" />
    </div>
</div>
}

<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });

    $('.carousel-slider').slider({ full_width: true })

    //$('.carousel.carousel-slider').carousel({ fullWidth: true });

</script>