
<div class="row">
    <div class="input-field col s6">
        <label for="address">Address</label>
        <input placeholder="Address" id="address" type="text" class="validate" value="Washington DC, United States">
    </div>
    <div class="input-field col s6">
        <input type="submit" value="Search" class="btn btn-primary #29b6f6 light-blue lighten-1" id="submit" />
    </div>
</div>

        <div id="map" style="width:100%;height:600px;"></div>
        <script>
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: { lat: 38.897725, lng: -77.032421 }
                });
                var geocoder = new google.maps.Geocoder();

                document.getElementById('submit').addEventListener('click', function () {
                    geocodeAddress(geocoder, map);
                });
            }

            function geocodeAddress(geocoder, resultsMap) {
                var address = document.getElementById('address').value;
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === 'OK') {
                        resultsMap.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: resultsMap,
                            position: results[0].geometry.location
                        });
                        $('#address').val(results[0].address_components[0].long_name);
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqjPRSD47g4pGZLuua5_M1fPfu1lsAElg&callback=initMap">
        </script>




