@model ViewModels.CitiesListModel

<div>
    @Html.Action("CitiesList", "Cities", new { travelguideid = Model.TravelGuideId })
</div>

<br />

<div>
    @Html.Action("Geocoder", "Cities", new { travelguideid = Model.TravelGuideId })
</div>